:root {
  --color-primary: #385ba9;
  --color-on-primary: #ffffff;
  --color-primary-el-1: #4263ad;
  --color-secondary: #585e71;
  --color-on-secondary: #ffffff;
  --color-secondary-hover: #656b7c;
  --color-secondary-container: #dce2f9;
  --color-on-secondary-container: #151b2c;
  --color-bg: #fff;
  --color-on-bg: #1b1b1f;
  --color-surface: #fefbff;
  --color-surface-el-1: #f4f3fb;
  --color-surface-el-2: #eeeef8;
  --color-surface-el-2-hover: #ece9ed;
  --color-on-surface: #1b1b1f;
  --color-surface-variant: #e1e2ec;
  --color-on-surface-variant: #44464f;
  --color-outline: #757780;
  --surface-elevation-1-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%),
    0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
  --surface-elevation-2-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%),
    0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);

  --border-radius-extra-small: 4px;
  --border-radius-small: 8px;
  --border-radius-medium: 12px;
  --border-radius-large: 16px;
  --border-radius-full: 30px;

  --title-small: 600 0.87rem/1.25rem monospace;
  --title-medium: 600 1rem/1.5rem monospace;
  --title-large: 600 1.37rem/1.75rem monospace;
  --label-small: 600 0.68rem/1rem monospace;
  --label-medium: 600 0.75rem/1rem monospace;
  --label-large: 600 0.87rem/1.25rem monospace;

  --font-default: monospace;
  --border-radius: 0.4rem;
  --border-width: 1px;
  --grid-spacing: 1rem;
  --grid-spacing-small: 0.5rem;

  --transition-standard-short: 300ms cubic-bezier(0.2, 0, 0, 1);
}

html {
  font-size: 16px;
}

body {
  display: flex;
  min-height: 100vh;
  transition: color 0.5s, background-color 0.5s;
  background: var(--color-bg);
  font-family: monospace;
  color: var(--color-on-bg);
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 2rem;
  margin: 0.67rem 0;
}
h2 {
  font-size: 1.5rem;
  margin: 0.75rem 0;
}
h3 {
  font-size: 1.17rem;
  margin: 0.83rem 0;
}
